SOA/Schemas/BPELProcess1_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/SOA_TST/TST/BPELProcess1"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="input" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
                <element name="zDSCdsc"/>
                <element name="element1"/>
            </sequence>
        </complexType>
    </element>
</schema>
